@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}



button {
  padding: 8pxm 16px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

.footer{
  background-color: #eee;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.text{
  margin-bottom: 16px;
  width: 400px;
  padding: 12px;
  border-radius: 15px;
  border-radius: 1px solid #ddd;
}

.content {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0%;
  display: flex;
}

a {
  color: #666;
  text-decoration: none;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}